<%- model_class = Vacancy -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if @vacancies_full %>
<h2><%= t('vacancy.full', default: 'Full matched') %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:upto) %></th>
      <th><%= model_class.human_attribute_name(:salary) %></th>
      <th><%= model_class.human_attribute_name(:contacts) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @vacancies_full.each do |vacancy| %>
      <tr>
        <td><%= link_to vacancy.id, vacancy_path(vacancy) %></td>
        <td><%= vacancy.name %></td>
        <td><%= vacancy.upto %></td>
        <td><%= vacancy.salary %></td>
        <td><%= vacancy.contacts %></td>
        <td><%=l vacancy.created_at %></td>
        <td>
          <%= link_to t('.applicants', default: 'Applicants'),
                      vacancy_applicants_path(vacancy), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vacancy_path(vacancy), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      vacancy_path(vacancy),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @vacancies_full %>
<h2><%= t('vacancy.part', default: 'Partially matched') %></h2>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:upto) %></th>
      <th><%= model_class.human_attribute_name(:salary) %></th>
      <th><%= model_class.human_attribute_name(:contacts) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @vacancies.each do |vacancy| %>
      <tr>
        <td><%= link_to vacancy.id, vacancy_path(vacancy) %></td>
        <td><%= vacancy.name %></td>
        <td><%= vacancy.upto %></td>
        <td><%= vacancy.salary %></td>
        <td><%= vacancy.contacts %></td>
        <td><%=l vacancy.created_at %></td>
        <td>
          <%= link_to t('.applicants', default: 'Applicants'),
                      vacancy_applicants_path(vacancy), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vacancy_path(vacancy), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      vacancy_path(vacancy),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_vacancy_path,
            :class => 'btn btn-primary' %>
